
a:link {
    color: rgb(224, 223, 210);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(234, 161, 26);
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color:rgb(234, 161, 26);
    background-color: transparent;
    text-decoration: underline;
}

.topnav {
    background-color: rgba(210,218,226,0.5);
    overflow: visible;
    z-index: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav:before,
.topnav:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 25px;
    left: -20px;
    width: 100%;
    height: 20%;
    box-shadow: 20px 30px 20px rgba(210,218,226,0.75);
}

.topnav a {
    float: left;
    color: #1e272e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Poppins, Helvetica, sans-serif;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #343434;
    color: white;
}

#darkbox { width:1280px; height:720px; position:absolute;
    top:0; left:0; background-color:#F8F9F9; overflow: hidden; text-align:center;
}
.darkboximg { padding:5%; max-width: 1216px; max-height: 684px; }

#gallery {
    line-height:0;
    -webkit-column-count:4;
    -webkit-column-gap:5px;
    -moz-column-count:4;
    -moz-column-gap:5px;
    column-count:4;
    column-gap:5px;
    margin-top:4rem;
    margin-right: 5px;
    margin-left: 5px;
}

#gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px;
    filter: grayscale(100%);
    transition: filter 1.5s ease-out;
}

#gallery img:hover {
    filter:none;
}

@media (max-width: 1200px) {
    #gallery {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1200px) {
    #gallery {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #gallery {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}
.about{
    width:100%;
    min-height: 500px;
    height: 100%;
    background-color: #343434;
    font-family: Candara, Poppins, sans-serif;
    color: #ecf0f1;
    flex-grow: 1; /* make it stretch to the bottom even if little content */
    flex-flow: wrap;
    overflow-y:scroll;
    overflow-x: visible;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 20px;
}
.tab {
    display: inline-block;
    margin-left: 4em;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
display: flex; /* or css grid for more intricate layouts */
flex-direction: column;
}